<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personalized Stock Assistance</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <section class="header">
        <div class="box">.</div>
        <nav>
            <a href="index.html"><img src="/static/assets/images/logo1-removebg-preview.png" alt="logo"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/home">HOME</a></li>
                    <li><a href="">ABOUT</a></li>
                    <!-- <li><a href="">COURSE</a></li> -->
                    <li><a href="">CONTACT</a></li>
                    <li><a href="/login">LOGIN</a></li>
                </ul>
            </div>
            <i class="fa-solid fa-bars" onclick="showMenu()"></i>
        </nav>

        <div class="text-box">
            <h1>Invest Smart./- Grow Steady</h1>
            <p>Navigate the stock market with confidence—our tools and insights help you make informed investment
                decisions with ease. Stay ahead of the curve <br>with real-time updates, personalized strategies, and
                expert guidance at your fingertips.
            </p>
            <a href="/home" class="hero-btn">Visit Us To Know More</a>
        </div>
    </section>

    <!-- ---------top articles--------- -->

    <div class="insights">
        <h1>Latest STOCK Updates</h1>
        <p>Stay informed with the latest stock updates to capitalize on market opportunities and navigate your
            investment journey.</p>
    </div>

    <section class="news-insight">
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <div class="tradingview-widget-copyright"></div>
        </div>
        <!-- TradingView Widget END -->
    </section>

    <section class="news-insight2">
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <div class="tradingview-widget-copyright"></div>
        </div>
        <!-- TradingView Widget END -->
    </section>

    <!-- ---------course--------- -->

    <section class="course">
        <h1>New to Stock Market?</h1>
        <p>Discover essential insights, strategies, and resources to help you navigate your investment journey with
            confidence</p>

        <div class="row">
            <div class="course-col">
                <h2>Basics</h2>
                <p>
                    Understand the fundamentals of stock <br>markets, including how they operate.<br>
                    Learn about different types of investments, <br>such as stocks, bonds, and mutual funds.<br>
                    Discover key concepts like market orders, <br>limit orders, and bid-ask spreads.<br>
                </p>
            </div>
            <div class="course-col">
                <h2>Intermediate</h2>
                <p>
                    Explore fundamental analysis and technical <br>analysis to make informed trading decisions.<br>
                    Learn about market indicators, charts, and <br>trends to better understand price movements.<br>
                    Understand risk management strategies and <br>how to build a diversified portfolio.<br>
                </p>
            </div>
            <div class="course-col">
                <h2>Advance</h2>
                <p>Delve into advanced trading strategies like <br>options trading, short selling, and futures.<br>
                    Learn about leveraging margin accounts and <br>understanding market psychology.
                    Explore <br>the impact of macroeconomic factors on <br>trading decisions and investment
                    strategies.<br>
                </p>
            </div>
        </div>
    </section>

    <!-- --------------campus-------------- -->

    <!-- <section class="campus">
        <h1>Our Features</h1>
        <p>Discover how our platform simplifies investing and empowers you to make confident financial decisions</p>

        <div class="row">
            <div class="campus-col">
                <img src="Images/london.jpg" alt="#">
                <div class="layer">
                    <h3>LONDON</h3>
                </div>
            </div>
            <div class="campus-col">
                <img src="Images/paris.jpg" alt="#">
                <div class="layer">
                    <h3>PARIS</h3>
                </div>
            </div>
            <div class="campus-col">
                <img src="Images/new_york.jpg" alt="#">
                <div class="layer">
                    <h3>NEW YORK</h3>
                </div>
            </div>
        </div>
    </section> -->

    <!-- ----------facilities---------- -->

    <!-- <section class="facilities">
        <h1>Our Facilities</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

        <div class="row">
            <div class="facilities-col">
                <img src="Images/library.jpg" alt="#">
                <h3>World Class Library</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore maiores nisi asperiores iste
                    quaerat.</p>
            </div>
            <div class="facilities-col">
                <img src="Images/playground.jpg" alt="#">
                <h3>Large Playground</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore maiores nisi asperiores iste
                    quaerat.</p>
            </div>
            <div class="facilities-col">
                <img src="Images/cafeteria.jpg" alt="#">
                <h3>Delicious & Healthy Food</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore maiores nisi asperiores iste
                    quaerat.</p>
            </div>
        </div>
    </section> -->

    <!-- -----------testimonials------------ -->

    <section class="testimonials">
        <h1>What Our Users Say</h1>

        <div class="row">
            <div class="testimonial-col">
                <img src="/static/assets/images/christine.jpg" alt="#">
                <div>
                    <p>This website has transformed my stock market experience! The tools analyze my favorite stocks and
                        provide personalized insights, helping me navigate the ever-changing market. The charts and
                        information have truly improved my trading strategies!</p>
                    <h3>Christine Berkley</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
            </div>
            <div class="testimonial-col">
                <img src="/static/assets/images/david.jpg" alt="#">
                <div>
                    <p>I’m amazed by how this site predicts stock trends! It offers clear, insightful data on my
                        favorite stocks, making it easier to understand market dynamics. A fantastic resource for anyone
                        serious about investing!</p>
                    <h3>David Byer</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
            </div>
        </div>
    </section>

    <!-- -----------Footer----------- -->

    <section class="footer">
        <h3>About Us</h3>
        <p>At Personalized Stock Assistance, we empower investors with real-time insights, expert guidance, and
            cutting-edge
            tools<br> to navigate the stock market confidently and achieve financial success</p>
        <div class="icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
    </section>

    <script>

        let nav_links = document.getElementById("navLinks");

        function showMenu() {
            navLinks.style.right = "0";
        }

        function hideMenu() {
            navLinks.style.right = "-200px"
        }

        document.addEventListener('DOMContentLoaded', function() {
            // First widget configuration
            const widgetConfig1 = {
                "feedMode": "all_symbols",
                "isTransparent": true,
                "displayMode": "regular",
                "width": "1200",
                "height": "330",
                "colorTheme": "light",
                "locale": "en"
            };
            const script1 = document.createElement('script');
            script1.type = 'text/javascript';
            script1.src = 'https://s3.tradingview.com/external-embedding/embed-widget-timeline.js';
            script1.async = true;
            script1.innerHTML = JSON.stringify(widgetConfig1);
            document.querySelector('.news-insight .tradingview-widget-container__widget').appendChild(script1);

            // Second widget configuration
            const widgetConfig2 = {
                "feedMode": "all_symbols",
                "isTransparent": true,
                "displayMode": "regular",
                "width": "280",
                "height": "400",
                "colorTheme": "light",
                "locale": "en"
            };
            const script2 = document.createElement('script');
            script2.type = 'text/javascript';
            script2.src = 'https://s3.tradingview.com/external-embedding/embed-widget-timeline.js';
            script2.async = true;
            script2.innerHTML = JSON.stringify(widgetConfig2);
            document.querySelector('.news-insight2 .tradingview-widget-container__widget').appendChild(script2);
        });
    </script>

</body>

</html>