*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #080710;
  overflow: hidden;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 20px 100px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100px;
  height: 50px;
  position: absolute;
  /* margin-top: 10px; */
}
/* .logo p {
  background: linear-gradient(
    to left top,
    rgb(230, 45, 255),
    rgb(166, 0, 255),
    rgb(95, 0, 147)
  );
  background-clip: text;
  color: transparent;
  font-size: 60px;
  margin-top: 9px;
  margin-bottom: 9px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 575;
  font-style: normal;
  margin-left: 0px;
} */

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  margin: 0 10px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
}

.menu a:hover {
  /* outline: 2px solid #ffffff; */
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.07);
}

.login-box form {
  height: 520px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
.login-box form * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.login-box form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.login-box label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
.login-box input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
/* #login {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
} */

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  width: 40%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  margin-left: 30%;
  letter-spacing: 4px;
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

#forgot-password {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  background-color: transparent;
}

#forgot-password:hover {
  color: rgba(255, 255, 255, 0.9);
}

#signup-section {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}

#signup {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: underline;
}

#signup:hover {
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

/* .signup-box {
  display: none;
} */

.signup-box form {
  height: 520px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
.signup-box form * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.signup-box form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.signup-box label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
.signup-box input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

#signup-button {
  margin-top: 30px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.login-box,
.signup-box,
.signup-otp-box {
  transition: opacity 0.5s;
  opacity: 0;
  pointer-events: none;
}

.login-box.active,
.signup-box.active,
.signup-otp-box.active {
  opacity: 1;
  pointer-events: auto;
}

#login-section {
  margin-top: -12%;
  margin-left: -5%;
}

.signup-box h3 {
  margin-top: -10%;
}

#back-arrow {
  animation: back-arrow 0.8s linear;
  animation-iteration-count: infinite;
}

@keyframes back-arrow {
  0% {
    transform: translateX(0px);
  }
  70% {
    transform: translateX(-13px);
  }
  100% {
    transform: translateX(0px);
  }
}

.signup-otp-box form {
  height: 520px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.signup-otp-box form * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.signup-otp-box form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.signup-otp-box input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

#otp-button {
  margin-top: 30px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.signup-otp-box span {
  font-size: 14px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  background-color: transparent;
  margin-top: 8px;
}


canvas {
  width: 100vw;
  height: 100vh;
}
